.main-contents {
  position: relative;
  margin-top: 25px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  &__prev {
    position: absolute;
    left: -74px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 40px;
    padding: 0px;
    border: none;
    background-color: transparent;
  }
  &__next {
    position: absolute;
    right: -74px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 40px;
    padding: 0px;
    border: none;
    background-color: transparent;
  }
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 153.95px);
  grid-template-rows: repeat(4, 96.25px);
  grid-gap: 1px;
  background-color: $color-gray100;
  border: 1px solid $color-gray100;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-white;
    box-sizing: border-box;

    > img {
      width: 40%;
    }
  }
  &__content:hover {
    background-color: $color-offWhite;
  }
}
